<div class="updatepaper">
  <%= form_tag("/paper/#{@paper.name}/update", :method => :post) %>
  <%= text_field_tag('title', '', :class => 'title', :placeholder => 'Please type your test paper title') %>
  <div class="paper">

    <div class="part1">
      <span class="title">第一部分： 英语知识运用</span>
      <%= select_tag('Question set', "<option>英语知识运用</option>".html_safe) %>
      <span class="button add_paper_part">Add</span>
    </div>

    <div class="part2">
      <span class="title">第二部分： 英语知识运用</span>
      <%= select_tag('Question set', "<option>英语知识运用</option>".html_safe) %>
      <span class="button add_paper_part">Add</span>
    </div>

    <div class="part3">
      <span class="title">第三部分： 英语知识运用</span>
      <%= select_tag('Question set', "<option>英语知识运用</option>".html_safe) %>
      <span class="add_paper_part button">Add</span>
    </div>
  </div>

  <%= submit_tag('Save', :class => 'button submit') %>
</div>