<!DOCTYPE html>
<html>
<head>
  <title>TestPaper</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "jquery" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "paper" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="header">
  <div class="container">
    <div class="brand">testpaper</div>

  <% if session[:user] %>
    <div class="userbox">
      <div class="user">
            <span><%= session[:user].name %></span>
            <a class="logout" href="/logout">Logout</a>
      </div>

        <ul class="menu">
          <li>
            <a class="create" href="/paper/new">New</a>
          </li>
        </ul>
    </div>
  <% end %>
  </div>
</div>
<div class="body">
  <%= yield %>
</div>
</body>
</html>
